/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 10;
}
@media (max-width: 767.98px) {
   *{
      z-index: revert; 
   } 
}

.sticky{
    position: fixed!important;
}

:root{
    --background-color:#212121!important;
    --nav-color: rgba(33, 33, 33, 0.7);
    --color-neon-green:#ffc400;
    --old:#0ff;
    --color-neon-pink:#FF007C;
    --color-neon-blue:#0fb;

    --nav-font-color: #fff;
    --primary-font-color: #fff;
    --primary-font: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

 /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    font-family: var(--primary-font);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: var(--background-color);
}

.nav-bar{
    position: fixed;
    left: 0;      /* ADDED */
  top: -10vh;       /* ADDED */
  width: 100%;  /* ADDED */
  z-index: 90;
  transition: top 0.3s;
}

.nav-bar.hide{
    top:0;
}

.App{
    position: relative;
}

.new-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin: 50px 0;
}

.new-page-heading{
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin-right: 7px;
    color: var(--color-neon-green);
    text-align: center;
}
.line{
    background: var(--color-neon-green);
    display: inline-block;
    width: 3rem;
    height: 0.2rem;
    border-radius: 25px;
}


/* Slider */

.greeting-slider{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    z-index:100;
    animation: slideOut 4s;

}

.load-done-icon{
    color: var(--color-neon-green);
    font-size: 20px;

}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--color-neon-green);
    margin: 5px;
    box-shadow: var(--color-neon-green) 0 0 5px;
    
  }

  @keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .load-text .dot:nth-last-child(1) {
    animation: loadingC 1s 0.1s linear infinite;
  }
  .load-text .dot:nth-last-child(2) {
    animation: loadingC 1s 0.3s linear infinite;
  }
  .load-text .dot:nth-last-child(3) {
    animation: loadingC 1s 0.5s linear infinite;
  }

  

.load-done{
    position: absolute;
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-neon-green);
    text-shadow: var(--color-neon-green) 0 0 5px;
    top: 60%;
    animation: fadeIn 1s;
}

.load-text.fading, .load-done.fading{
    animation: fadeOut 0.5s;
}

.load-text.hide, .load-done.hide{
    display: none;
}


@keyframes slideOut {
    0%{width: 100%;}
    90%{width: 100%;}
    100%{
        width: 0%;
    }
    
}

@keyframes slideUp {
    0%{height: 100vh;}
    90%{height: 100vh;}
    100%{
        height: 0%;
    }
    
}

@media (max-width: 767.98px) {
    .greeting-slider{
        
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
 
        width: 100%;
        height: 0;
        background-color: black;
        z-index:100;
        animation: slideUp 4s;
    
    }
}


/* NavBar */

.behind-white-line{
    background: var(--nav-color);
}
.white-line{
    height: 1px;
    width: 100%;
    background: var(--color-neon-green);
    opacity: 0.5;
}

.nav_links .nav-item .nav-anchor, .logo-anchor{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--nav-font-color);
}

.nav-item:hover .nav-anchor:hover,
.logo-anchor:hover, .logo-icon:hover{
    color: var(--color-neon-green);
}


nav{
   
    position: relative;
    height: 10vh;
    background-color: var(--nav-color);
}

.logo{
    font-size: 20px;
    position: absolute;
    top:50%;
    left: 10%;
    transform: translate(-10%, -50%);
}

.logo-anchor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icon{
    font-size: 25px;
    padding-right: 0.2em;
}

.nav_links{
    height: 100%;
    font-size: 20px;
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

/* hamburger */
.menu-btn{
    display: none;
}

.menu-btn_burger{
    width: 30px;
    height: 4px;
    background: var(--nav-font-color);
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: var(--nav-font-color);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-9px);
}

.menu-btn_burger::after{
    transform: translateY(9px);
}

.menu-btn.open .menu-btn_burger{
    transform: translateZ(-50px);
    background: transparent;
}
.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) ;
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) ;
}

@media (min-width: 767.98px) {

}

@media (max-width: 767.98px) {
    nav{
        position: relative;
    }

    .nav-item:hover .nav-anchor:hover,
    .logo-anchor:hover, .logo-icon:hover{
        color: var(--nav-font-color) !important;
    }

    .nav_links{
        position: fixed;
        top: 5vh;
        background-color: var(--background-color);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path: circle(100px at 90% -15%);
        transition: all 0.5s ease-out;
        pointer-events: none;
        overflow: hidden;
        visibility: hidden;

    }

    .nav_links.close-fast{
        transition: none;
    }

    .nav_links.open{
        visibility: revert;
        clip-path: circle(1500px at 90% -15%);
        -webkit-clip-path: circle(1500px at 90% -15%);
        pointer-events: all;

    }

    .logo{
        font-size: 25px;
        z-index: 3;
    }

    .logo-icon{
        font-size: 35px;
    }

    .nav-anchor{
        font-size: 40px;
    }
    .menu-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        margin-left: auto;
        z-index: 3;
    }
}

/* Brief section */
.brief-section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   
    color: var(--primary-font-color);
}

.blob{
    width: 500px;
}

.brief-text{
    max-width: 450px;
}


@media (max-width: 575.98px) {
    .blob{
        overflow: hidden;
        max-width: 100%;
    }
}

/* About section */
.about-section{
    position: relative;
    height: 95vh;
    display: flex;
    text-align: center;
    flex-direction: column;
 
    color: var(--primary-font-color);
}

.about-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.about-text{
    max-width: 400px;

    text-align: start;
}

.about-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links{
    color: var(--color-neon-green);
    font-size: 50px;
    margin-bottom: 20px;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-links.hide{
    display: none;
    pointer-events: none;
}

.linkedin{
    font-size: 60px;
}

.download-btn{
    border: none;
    max-width: 150px;
    padding: 7px;
    box-shadow: var(--color-neon-green) 0 0 2px;
    border: solid var(--color-neon-green) 2px;
    background: var(--background-color);
    border-radius: 5px;
    font-weight: bold;
    color: var(--primary-font-color);
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.2s ease-in;
}

.download-btn:hover{
    background: var(--color-neon-green);
    color: black;
    box-shadow: var(--color-neon-green) 0 0 7px;
}

.download-icon{
    margin-right: 10px;
}

@media (max-width: 767.98px) {
    .about-text{
        max-width: 300px;
    }

    .about-section{
        height: 100%;
    }
}

@media (max-height: 657px) {
    .about-section{
        font-size: 15px;
    }
}


/* Skills section */
.skills-section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: var(--primary-font-color);
}

.skills-container{
    height: 20%;
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-item{
    transition: all .3s ease-in-out;

    position: relative;
    flex: 0 0 20%;
    margin: 0 5px;
    box-shadow: var(--color-neon-green) 0 0 2px;
    border: solid var(--color-neon-green) 2px;
    border-radius: 5px;

}

.skills-item:hover {
    font-size: 20px;
    color: var(--color-neon-green);
    background: var(--color-neon-green);
    box-shadow: var(--color-neon-green) 0 0 7px;
    color: black;
}

.hidden-skill{
    display: none;
    transition: all .3s ease-in-out;
}

.highlight-skill{
    max-width: 50%;
    text-align: center;
    position: absolute;
    bottom:50%;
    display: block;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }

@media (max-width: 767.98px) {
    .highlight-skill{
        max-width: 100%;
    }
    .skills-section{
        align-items: start;
    }

    .skills-item{
        flex: 0 0 45%;
        margin: 0;
        margin-top: 7px;
    }

    .skills-item:hover{
        font-size: 16px;
    }

    .highlight-skill{
        bottom:23%;
    }
}



.projects-section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: var(--primary-font-color);
}

.projects-container{
    height: 100%;
    display: flex;
    width: 70%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card{
    width: 20%;
    background-color: #2b2b2b;
    box-shadow: #2b2b2b 0 0 3px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    text-align: left;
    margin: 30px;
    min-height: 350px;
}

.card-icon{
    font-size: 40px;
    color: var(--color-neon-green);
}

.card-icon.hovered, .card-link.hovered{
    color: black;
}



.card-link{
    text-decoration: none;
    color: var(--primary-font-color);
    border: solid var(--color-neon-green) 2px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}



.card-link:hover{
    background: var(--color-neon-green);
    color: black;
    box-shadow: var(--color-neon-green) 0 0 7px;
}
.card-link-icon{
    margin-right: 5px;
    font-size: 14px;
}

@media (max-width: 767.98px) {
    .projects-container{
        width: 100%;
    }
    .project-card{
        width: 70%;
    }
}
@media (max-width: 1714px){
    .project-card{
        flex: 30%;
    }
}

@media (max-width: 787px){
    .project-card{
        flex: 100%!important;
    }
    .projects-section{
        height: 100%;
    }
}


/* Contact */

.contact-section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: var(--primary-font-color);
}

.contact-container{
    height: 100%;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}



.contact-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
}

.contact-icon{
    color: var(--color-neon-green);
    font-size: 40px;
    margin-right: 20px;
}

.contact-info-text{
    text-align: center;
}

.contact-item{
    height: 70px;
    display: flex;
    align-items: center;
}

@media (max-width: 767.98px) {
    .contact-heading{
        width: 90%;
    }
}


/* Media queries */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) common*/
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    
    
}



/* Random moving divs */
div.a {
    width: 40px;
    border-radius: 25px;
    height:40px;
    background-color: rgba(70, 67, 67, 0.548);
    position:fixed;
    z-index: 5;
}

div.b {
    width: 40px;
    height:40px;
    left: 25%;
    background-image:linear-gradient(to bottom right, transparent 50%, rgba(70, 67, 67, 0.548) 0),
                    linear-gradient(to top right, rgba(70, 67, 67, 0.548) 50%, transparent 0);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
    position:fixed;
    z-index:5; 
}
            
div.c {
    width: 30px;
    height:30px;
    left: 25%;
    transform: perspective(1px) rotateX(1deg);
    background-color: rgba(70, 67, 67, 0.548);
    position:fixed;
    z-index:5;    
}
            
div.d {
    width: 35px;
    height:35px;
    left: 75%;
    background-color: rgba(70, 67, 67, 0.548);
    position:fixed;
    z-index:5;  
}

@media (max-width: 767.98px) {
    div.a {
        display: none;
    }
    div.b {
        display: none;
    }
    div.c {
        display: none;
    }
    div.d {
        display: none;
    }
}