@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

 /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}





.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    
}

.menu-btn_burger{
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-9px);
}

.menu-btn_burger::after{
    transform: translateY(9px);
}

.menu-btn.open .menu-btn_burger{
    transform: translateZ(-50px);
    background: transparent;
}
.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) ;
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) ;
}



















li, a, button{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    margin: 0
}

h1, h2,  h3, h4,ul,h5, p, i{
    font-family: "Poppins", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    margin: 0
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252A;
    
}

.scroll-btn{
    display: flex;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

#mobile_header nav{
    width: 100%;
}

#mobile_header{
    height: 10vh;
}

.icon{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;

}

.nav_mobile_links{
    display: none;
    list-style: none;
    margin-top: 1.2rem;
    animation: fadeIn 1s;
    

}

.nav_mobile_links > *{
    flex: 50%;
}

.nav_mobile_links li{
    display: inline-block;
    text-decoration: none;
    
}

.contact-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon{
    height: 0.9em;
    padding-right: 0.2em;
}

.logo-icon{
    height: 0.9em;
    padding-right: 0.2em;
}

.logo{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    transition: all 0.3s ease 0s;
    
}

.nav-link{
    transition: all 0.3s ease 0s;
}

.nav-link:hover{
    color: rgba(72,69,210,1);
    text-decoration: none;
}

.logo:hover, .logo-icon:hover{
    color: rgba(72,69,210,1);
    text-decoration: none;
}


.nav_links{
    list-style: none;
    margin: 0;
  
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
}



.nav_mobile_links li a:hover{
    color: rgba(72,69,210,1);
    text-decoration: none;
}

button{
    padding: 9px 25px;
    background-color: rgba(72,69,210,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(72,69,210,0.8);
}

.brief_image{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.brief_section{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    height: 700px;
    background-color: rgba(72,69,210,0.7);
    position: relative;
    flex-wrap: wrap;
}

.brief_text{
    max-width: 600px;
    text-align: center;
}

.scroll_indicator{

}

.scroll_indicator a{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 15px;
    
}
.about_section>div{
    padding-bottom: 40px;
}

.about_section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24252A;
    padding: 50px;
    position: relative;
    flex-flow: row wrap;
}


.about_download{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_links a{
    margin: 0px 10px;
}


.about_text{
    max-width: 400px;
    margin-bottom: 10px;
}





.profile_image{
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px 20px;
    border-radius: 250px;
    filter: grayscale(100%);
}

.projects_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgba(72,69,210,0.7);
    height: 700px;
    position: relative;
}

.projects_text{
    padding-bottom: 15px;
}

.carousel{
    width: 40vw;
}

.carousel-inner{
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px;
}


#mobile_header{
    display: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24252A;
    position: relative;
    flex-flow: row wrap;
}

.contact_list{
    margin-top: 15px;
    list-style: none;
}

.about_links i{
    font-size: 2rem;
}

.mobile_projects{
    display: none;
    width: 40%;
}

.card{
    margin: 5px;
    border: 0px;
}
.card-body{
    background-color: #24252A !important;
}

@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .carousel{
        width: 80%;
    }
    .header{
        display: none;
    }
    #mobile_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
    }


    .nav_mobile_links{
        justify-content: space-around;
    }
    #carouselExampleIndicators{
        display: none;
    }
    .mobile_projects{
        display: flex;
        width: 80%;
        flex-direction: column;
    }
    .projects_section{
        flex-direction: row;
        height: auto;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    
}

